body {
background-image: url("http://cliparts.co/cliparts/6iy/5GB/6iy5GBBnT.jpg");
}

h1{
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	line-height: 8.0;
}

div.user{
	font-size: 18px;
	position: fixed;
	top: 0;
	right: 0;
}

div.form{
	font-size: 15px;
	text-align: center;
}

dl.form dd{
	text-align: center;
}
