body {
background-image: url("https://cdn.pixabay.com/photo/2016/07/29/23/47/background-1556158_960_720.jpg");
}

h1{
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	line-height: 8.0;
}

div.user{
	font-size: 18px;
	position: fixed;
	top: 0;
	right: 0;
}

div.form{
	font-size: 15px;
	text-align: center;
}
